[submodule "themes/themes/coder-portfolio"]
	path = themes/themes/coder-portfolio
	url = https://github.com/naro143/hugo-coder-portfolio
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
